body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9793 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9794 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:100px;
}
#u9795 {
  position:absolute;
  left:2px;
  top:42px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u9796 {
  position:absolute;
  left:39px;
  top:36px;
  width:686px;
  height:33px;
  font-size:24px;
}
#u9797 {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  word-wrap:break-word;
}
#u9798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u9798 {
  position:absolute;
  left:1479px;
  top:42px;
  width:65px;
  height:16px;
  color:#999999;
}
#u9799 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  visibility:hidden;
  white-space:nowrap;
}
#u9800 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 153, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9801 {
  position:absolute;
  left:0px;
  top:2100px;
  width:1600px;
  height:100px;
}
#u9802 {
  position:absolute;
  left:2px;
  top:42px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:14px;
}
#u9803 {
  position:absolute;
  left:1213px;
  top:2129px;
  width:340px;
  height:14px;
  font-family:'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue';
  font-weight:100;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u9804 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u9805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:14px;
}
#u9805 {
  position:absolute;
  left:1213px;
  top:2157px;
  width:340px;
  height:14px;
  font-family:'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue';
  font-weight:100;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u9806 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u9807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u9807 {
  position:absolute;
  left:39px;
  top:2141px;
  width:163px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u9808 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u9809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:16px;
}
#u9809 {
  position:absolute;
  left:35px;
  top:142px;
  width:795px;
  height:16px;
  line-height:20px;
}
#u9810 {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:1908px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9811 {
  position:absolute;
  left:35px;
  top:142px;
  width:855px;
  height:1908px;
}
#u9812 {
  position:absolute;
  left:2px;
  top:946px;
  width:851px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9813 {
  position:absolute;
  left:930px;
  top:142px;
  width:655px;
  height:714px;
}
#u9814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:37px;
}
#u9814 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9815 {
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u9816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:37px;
}
#u9816 {
  position:absolute;
  left:192px;
  top:0px;
  width:458px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9817 {
  position:absolute;
  left:2px;
  top:10px;
  width:454px;
  word-wrap:break-word;
}
#u9818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:106px;
}
#u9818 {
  position:absolute;
  left:0px;
  top:37px;
  width:192px;
  height:106px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9819 {
  position:absolute;
  left:2px;
  top:43px;
  width:188px;
  word-wrap:break-word;
}
#u9820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:106px;
}
#u9820 {
  position:absolute;
  left:192px;
  top:37px;
  width:458px;
  height:106px;
  font-size:14px;
  text-align:left;
}
#u9821 {
  position:absolute;
  left:2px;
  top:15px;
  width:454px;
  word-wrap:break-word;
}
#u9822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:188px;
}
#u9822 {
  position:absolute;
  left:0px;
  top:143px;
  width:192px;
  height:188px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9823 {
  position:absolute;
  left:2px;
  top:84px;
  width:188px;
  word-wrap:break-word;
}
#u9824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:188px;
}
#u9824 {
  position:absolute;
  left:192px;
  top:143px;
  width:458px;
  height:188px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u9825 {
  position:absolute;
  left:2px;
  top:14px;
  width:454px;
  word-wrap:break-word;
}
#u9826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:137px;
}
#u9826 {
  position:absolute;
  left:0px;
  top:331px;
  width:192px;
  height:137px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u9827 {
  position:absolute;
  left:2px;
  top:58px;
  width:188px;
  word-wrap:break-word;
}
#u9828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:137px;
}
#u9828 {
  position:absolute;
  left:192px;
  top:331px;
  width:458px;
  height:137px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u9829 {
  position:absolute;
  left:2px;
  top:18px;
  width:454px;
  word-wrap:break-word;
}
#u9830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:197px;
}
#u9830 {
  position:absolute;
  left:0px;
  top:468px;
  width:192px;
  height:197px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9831 {
  position:absolute;
  left:2px;
  top:88px;
  width:188px;
  word-wrap:break-word;
}
#u9832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:197px;
}
#u9832 {
  position:absolute;
  left:192px;
  top:468px;
  width:458px;
  height:197px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u9833 {
  position:absolute;
  left:2px;
  top:18px;
  width:454px;
  word-wrap:break-word;
}
#u9834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:44px;
}
#u9834 {
  position:absolute;
  left:0px;
  top:665px;
  width:192px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9835 {
  position:absolute;
  left:2px;
  top:14px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:44px;
}
#u9836 {
  position:absolute;
  left:192px;
  top:665px;
  width:458px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u9837 {
  position:absolute;
  left:2px;
  top:14px;
  width:454px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9839 {
  position:absolute;
  left:35px;
  top:142px;
  width:855px;
  height:20px;
}
#u9840 {
  position:absolute;
  left:2px;
  top:2px;
  width:851px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9841 {
  position:absolute;
  left:35px;
  top:162px;
  width:855px;
  height:50px;
}
#u9842 {
  position:absolute;
  left:2px;
  top:17px;
  width:851px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u9843 {
  position:absolute;
  left:45px;
  top:171px;
  width:54px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u9844 {
  position:absolute;
  left:2px;
  top:6px;
  width:50px;
  word-wrap:break-word;
}
#u9845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u9845 {
  position:absolute;
  left:826px;
  top:171px;
  width:54px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u9846 {
  position:absolute;
  left:2px;
  top:6px;
  width:50px;
  word-wrap:break-word;
}
#u9847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u9847 {
  position:absolute;
  left:308px;
  top:171px;
  width:310px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u9848 {
  position:absolute;
  left:2px;
  top:6px;
  width:306px;
  word-wrap:break-word;
}
#u9849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9851 {
  position:absolute;
  left:148px;
  top:520px;
  width:300px;
  height:150px;
  font-size:16px;
}
#u9852 {
  position:absolute;
  left:2px;
  top:44px;
  width:296px;
  word-wrap:break-word;
}
#u9853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9853 {
  position:absolute;
  left:148px;
  top:630px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9854 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9855 {
  position:absolute;
  left:297px;
  top:630px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9856 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9857 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9858 {
  position:absolute;
  left:148px;
  top:750px;
  width:300px;
  height:150px;
  font-size:16px;
}
#u9859 {
  position:absolute;
  left:2px;
  top:44px;
  width:296px;
  word-wrap:break-word;
}
#u9860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9860 {
  position:absolute;
  left:148px;
  top:860px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9861 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9862 {
  position:absolute;
  left:297px;
  top:860px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9863 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9865 {
  position:absolute;
  left:148px;
  top:1220px;
  width:300px;
  height:150px;
}
#u9866 {
  position:absolute;
  left:10px;
  top:16px;
  width:280px;
  word-wrap:break-word;
}
#u9867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9867 {
  position:absolute;
  left:148px;
  top:1330px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9868 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9869 {
  position:absolute;
  left:297px;
  top:1330px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9870 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9871 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9872 {
  position:absolute;
  left:480px;
  top:750px;
  width:300px;
  height:150px;
}
#u9873 {
  position:absolute;
  left:10px;
  top:5px;
  width:280px;
  word-wrap:break-word;
}
#u9874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9874 {
  position:absolute;
  left:480px;
  top:860px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9875 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9876 {
  position:absolute;
  left:629px;
  top:860px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9877 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9879 {
  position:absolute;
  left:480px;
  top:520px;
  width:300px;
  height:150px;
}
#u9880 {
  position:absolute;
  left:10px;
  top:15px;
  width:280px;
  word-wrap:break-word;
}
#u9881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9881 {
  position:absolute;
  left:480px;
  top:630px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9882 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u9883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9884 {
  position:absolute;
  left:480px;
  top:1220px;
  width:300px;
  height:150px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9885 {
  position:absolute;
  left:10px;
  top:13px;
  width:280px;
  word-wrap:break-word;
}
#u9886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9886 {
  position:absolute;
  left:480px;
  top:1330px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9887 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9888 {
  position:absolute;
  left:629px;
  top:1330px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9889 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9891 {
  position:absolute;
  left:148px;
  top:1460px;
  width:300px;
  height:150px;
}
#u9892 {
  position:absolute;
  left:10px;
  top:13px;
  width:280px;
  word-wrap:break-word;
}
#u9893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9893 {
  position:absolute;
  left:148px;
  top:1570px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9894 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9895 {
  position:absolute;
  left:297px;
  top:1570px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9896 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9898 {
  position:absolute;
  left:147px;
  top:280px;
  width:300px;
  height:150px;
}
#u9899 {
  position:absolute;
  left:2px;
  top:29px;
  width:296px;
  word-wrap:break-word;
}
#u9900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9900 {
  position:absolute;
  left:147px;
  top:390px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9901 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9902 {
  position:absolute;
  left:296px;
  top:390px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9903 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9905 {
  position:absolute;
  left:479px;
  top:280px;
  width:300px;
  height:150px;
}
#u9906 {
  position:absolute;
  left:10px;
  top:17px;
  width:280px;
  word-wrap:break-word;
}
#u9907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9907 {
  position:absolute;
  left:479px;
  top:390px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9908 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u9909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9909 {
  position:absolute;
  left:628px;
  top:390px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9910 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9912 {
  position:absolute;
  left:148px;
  top:980px;
  width:300px;
  height:150px;
  font-size:16px;
}
#u9913 {
  position:absolute;
  left:2px;
  top:44px;
  width:296px;
  word-wrap:break-word;
}
#u9914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9914 {
  position:absolute;
  left:148px;
  top:1090px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9915 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9916 {
  position:absolute;
  left:297px;
  top:1090px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9917 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9919 {
  position:absolute;
  left:480px;
  top:980px;
  width:300px;
  height:150px;
}
#u9920 {
  position:absolute;
  left:10px;
  top:5px;
  width:280px;
  word-wrap:break-word;
}
#u9921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9921 {
  position:absolute;
  left:480px;
  top:1090px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9922 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9923 {
  position:absolute;
  left:629px;
  top:1090px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9924 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9926 {
  position:absolute;
  left:480px;
  top:1460px;
  width:300px;
  height:150px;
}
#u9927 {
  position:absolute;
  left:10px;
  top:5px;
  width:280px;
  word-wrap:break-word;
}
#u9928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9928 {
  position:absolute;
  left:480px;
  top:1570px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9929 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9930 {
  position:absolute;
  left:629px;
  top:1570px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u9931 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u9932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:22px;
}
#u9932 {
  position:absolute;
  left:148px;
  top:238px;
  width:242px;
  height:22px;
  font-size:16px;
  color:#FF0000;
}
#u9933 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u9934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:22px;
}
#u9934 {
  position:absolute;
  left:476px;
  top:238px;
  width:188px;
  height:22px;
  font-size:16px;
  color:#FF0000;
}
#u9935 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u9936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
}
#u9936 {
  position:absolute;
  left:148px;
  top:478px;
  width:141px;
  height:22px;
  font-size:16px;
  color:#FF0000;
}
#u9937 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u9938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
}
#u9938 {
  position:absolute;
  left:479px;
  top:478px;
  width:129px;
  height:22px;
  font-size:16px;
}
#u9939 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u9940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u9940 {
  position:absolute;
  left:148px;
  top:710px;
  width:125px;
  height:22px;
  font-size:16px;
  color:#FF0000;
}
#u9941 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u9942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u9942 {
  position:absolute;
  left:480px;
  top:710px;
  width:113px;
  height:22px;
  font-size:16px;
}
#u9943 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u9944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
}
#u9944 {
  position:absolute;
  left:148px;
  top:940px;
  width:124px;
  height:22px;
  font-size:16px;
  color:#FF0000;
}
#u9945 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u9946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u9946 {
  position:absolute;
  left:480px;
  top:940px;
  width:113px;
  height:22px;
  font-size:16px;
}
#u9947 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u9948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
}
#u9948 {
  position:absolute;
  left:148px;
  top:1179px;
  width:123px;
  height:22px;
  font-size:16px;
  color:#FF0000;
}
#u9949 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u9950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u9950 {
  position:absolute;
  left:480px;
  top:1179px;
  width:113px;
  height:22px;
  font-size:16px;
}
#u9951 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u9952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
}
#u9952 {
  position:absolute;
  left:148px;
  top:1418px;
  width:141px;
  height:22px;
  font-size:16px;
  color:#FF0000;
}
#u9953 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u9954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
}
#u9954 {
  position:absolute;
  left:480px;
  top:1418px;
  width:129px;
  height:22px;
  font-size:16px;
}
#u9955 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u9956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:17px;
}
#u9956 {
  position:absolute;
  left:480px;
  top:1372px;
  width:310px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u9957 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
