body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26814 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26815 {
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:100px;
}
#u26816 {
  position:absolute;
  left:2px;
  top:42px;
  width:1696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u26817 {
  position:absolute;
  left:43px;
  top:36px;
  width:793px;
  height:33px;
  font-size:24px;
}
#u26818 {
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  word-wrap:break-word;
}
#u26819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u26819 {
  position:absolute;
  left:1559px;
  top:42px;
  width:65px;
  height:16px;
  color:#999999;
}
#u26820 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  visibility:hidden;
  white-space:nowrap;
}
#u26821 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 153, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26822 {
  position:absolute;
  left:0px;
  top:4000px;
  width:1700px;
  height:100px;
}
#u26823 {
  position:absolute;
  left:2px;
  top:42px;
  width:1696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:14px;
}
#u26824 {
  position:absolute;
  left:1291px;
  top:4029px;
  width:361px;
  height:14px;
  font-family:'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue';
  font-weight:100;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u26825 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  word-wrap:break-word;
}
#u26826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:14px;
}
#u26826 {
  position:absolute;
  left:1291px;
  top:4057px;
  width:361px;
  height:14px;
  font-family:'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue';
  font-weight:100;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u26827 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  word-wrap:break-word;
}
#u26828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u26828 {
  position:absolute;
  left:43px;
  top:4041px;
  width:163px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u26829 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u26830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:3900px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.117647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26830 {
  position:absolute;
  left:1100px;
  top:100px;
  width:600px;
  height:3900px;
}
#u26831 {
  position:absolute;
  left:2px;
  top:1942px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26832 {
  position:absolute;
  left:1137px;
  top:144px;
  width:535px;
  height:235px;
}
#u26833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u26833 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u26834 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:30px;
}
#u26835 {
  position:absolute;
  left:100px;
  top:0px;
  width:430px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u26836 {
  position:absolute;
  left:2px;
  top:6px;
  width:426px;
  word-wrap:break-word;
}
#u26837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u26837 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26838 {
  position:absolute;
  left:8px;
  top:41px;
  width:84px;
  word-wrap:break-word;
}
#u26839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:100px;
}
#u26839 {
  position:absolute;
  left:100px;
  top:30px;
  width:430px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u26840 {
  position:absolute;
  left:8px;
  top:42px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u26841 {
  position:absolute;
  left:0px;
  top:130px;
  width:100px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26842 {
  position:absolute;
  left:8px;
  top:41px;
  width:84px;
  word-wrap:break-word;
}
#u26843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:100px;
}
#u26843 {
  position:absolute;
  left:100px;
  top:130px;
  width:430px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u26844 {
  position:absolute;
  left:8px;
  top:40px;
  width:414px;
  word-wrap:break-word;
}
#u26845 {
  position:absolute;
  left:1137px;
  top:420px;
  width:535px;
  height:535px;
}
#u26846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u26846 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u26847 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:30px;
}
#u26848 {
  position:absolute;
  left:100px;
  top:0px;
  width:430px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u26849 {
  position:absolute;
  left:2px;
  top:6px;
  width:426px;
  word-wrap:break-word;
}
#u26850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u26850 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#1E1E1E;
}
#u26851 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u26852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:100px;
}
#u26852 {
  position:absolute;
  left:100px;
  top:30px;
  width:430px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u26853 {
  position:absolute;
  left:8px;
  top:42px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u26854 {
  position:absolute;
  left:0px;
  top:130px;
  width:100px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u26855 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u26856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:100px;
}
#u26856 {
  position:absolute;
  left:100px;
  top:130px;
  width:430px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u26857 {
  position:absolute;
  left:8px;
  top:42px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u26858 {
  position:absolute;
  left:0px;
  top:230px;
  width:100px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#1E1E1E;
}
#u26859 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u26860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:100px;
}
#u26860 {
  position:absolute;
  left:100px;
  top:230px;
  width:430px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u26861 {
  position:absolute;
  left:8px;
  top:42px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u26862 {
  position:absolute;
  left:0px;
  top:330px;
  width:100px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#1E1E1E;
}
#u26863 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u26864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:100px;
}
#u26864 {
  position:absolute;
  left:100px;
  top:330px;
  width:430px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u26865 {
  position:absolute;
  left:8px;
  top:42px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u26866 {
  position:absolute;
  left:0px;
  top:430px;
  width:100px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#1E1E1E;
}
#u26867 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u26868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:100px;
}
#u26868 {
  position:absolute;
  left:100px;
  top:430px;
  width:430px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u26869 {
  position:absolute;
  left:8px;
  top:42px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26870 {
  position:absolute;
  left:1137px;
  top:998px;
  width:535px;
  height:535px;
}
#u26871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u26871 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u26872 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:30px;
}
#u26873 {
  position:absolute;
  left:100px;
  top:0px;
  width:430px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u26874 {
  position:absolute;
  left:2px;
  top:6px;
  width:426px;
  word-wrap:break-word;
}
#u26875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u26875 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#1E1E1E;
}
#u26876 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u26877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:100px;
}
#u26877 {
  position:absolute;
  left:100px;
  top:30px;
  width:430px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u26878 {
  position:absolute;
  left:8px;
  top:42px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u26879 {
  position:absolute;
  left:0px;
  top:130px;
  width:100px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u26880 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u26881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:100px;
}
#u26881 {
  position:absolute;
  left:100px;
  top:130px;
  width:430px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u26882 {
  position:absolute;
  left:8px;
  top:42px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u26883 {
  position:absolute;
  left:0px;
  top:230px;
  width:100px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#1E1E1E;
}
#u26884 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u26885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:100px;
}
#u26885 {
  position:absolute;
  left:100px;
  top:230px;
  width:430px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u26886 {
  position:absolute;
  left:8px;
  top:42px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u26887 {
  position:absolute;
  left:0px;
  top:330px;
  width:100px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#1E1E1E;
}
#u26888 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u26889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:100px;
}
#u26889 {
  position:absolute;
  left:100px;
  top:330px;
  width:430px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u26890 {
  position:absolute;
  left:8px;
  top:42px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u26891 {
  position:absolute;
  left:0px;
  top:430px;
  width:100px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#1E1E1E;
}
#u26892 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u26893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:100px;
}
#u26893 {
  position:absolute;
  left:100px;
  top:430px;
  width:430px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u26894 {
  position:absolute;
  left:8px;
  top:42px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:615px;
  background:inherit;
  background-color:rgba(241, 241, 241, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26895 {
  position:absolute;
  left:43px;
  top:205px;
  width:855px;
  height:615px;
}
#u26896 {
  position:absolute;
  left:2px;
  top:300px;
  width:851px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u26897 {
  position:absolute;
  left:48px;
  top:160px;
  width:377px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u26898 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  word-wrap:break-word;
}
#u26899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  height:615px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.898039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26899 {
  position:absolute;
  left:115px;
  top:205px;
  width:783px;
  height:615px;
}
#u26900 {
  position:absolute;
  left:2px;
  top:300px;
  width:779px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  height:615px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26901 {
  position:absolute;
  left:115px;
  top:205px;
  width:783px;
  height:615px;
}
#u26902 {
  position:absolute;
  left:2px;
  top:300px;
  width:779px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u26904 {
  position:absolute;
  left:43px;
  top:205px;
  width:855px;
  height:15px;
  font-size:10px;
}
#u26905 {
  position:absolute;
  left:2px;
  top:0px;
  width:851px;
  word-wrap:break-word;
}
#u26906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
#u26906 {
  position:absolute;
  left:43px;
  top:205px;
  width:199px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
#u26907 {
  position:absolute;
  left:2px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u26908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:right;
}
#u26908 {
  position:absolute;
  left:699px;
  top:205px;
  width:199px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:right;
}
#u26909 {
  position:absolute;
  left:2px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u26910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:560px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u26911 {
  position:absolute;
  left:633px;
  top:260px;
  width:265px;
  height:560px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u26912 {
  position:absolute;
  left:2px;
  top:272px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:207px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u26914 {
  position:absolute;
  left:633px;
  top:260px;
  width:265px;
  height:207px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u26915 {
  position:absolute;
  left:2px;
  top:63px;
  width:261px;
  word-wrap:break-word;
}
#u26916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u26916 {
  position:absolute;
  left:723px;
  top:376px;
  width:86px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u26917 {
  position:absolute;
  left:2px;
  top:5px;
  width:82px;
  word-wrap:break-word;
}
#u26918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:560px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u26918 {
  position:absolute;
  left:633px;
  top:260px;
  width:265px;
  height:560px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u26919 {
  position:absolute;
  left:2px;
  top:272px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26920 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u26921 {
  position:absolute;
  left:637px;
  top:521px;
  width:253px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u26922 {
  position:absolute;
  left:15px;
  top:11px;
  width:236px;
  word-wrap:break-word;
}
#u26923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u26923 {
  position:absolute;
  left:810px;
  top:534px;
  width:50px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u26924 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u26925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u26926 {
  position:absolute;
  left:637px;
  top:697px;
  width:253px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u26927 {
  position:absolute;
  left:15px;
  top:11px;
  width:236px;
  word-wrap:break-word;
}
#u26928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u26928 {
  position:absolute;
  left:766px;
  top:709px;
  width:111px;
  height:17px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u26929 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u26930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u26931 {
  position:absolute;
  left:637px;
  top:741px;
  width:253px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u26932 {
  position:absolute;
  left:15px;
  top:11px;
  width:236px;
  word-wrap:break-word;
}
#u26933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u26933 {
  position:absolute;
  left:753px;
  top:752px;
  width:124px;
  height:18px;
  color:#999999;
  text-align:right;
}
#u26934 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u26935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u26936 {
  position:absolute;
  left:637px;
  top:477px;
  width:253px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u26937 {
  position:absolute;
  left:15px;
  top:11px;
  width:236px;
  word-wrap:break-word;
}
#u26938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u26938 {
  position:absolute;
  left:751px;
  top:489px;
  width:128px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u26939 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u26940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u26941 {
  position:absolute;
  left:637px;
  top:785px;
  width:253px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u26942 {
  position:absolute;
  left:15px;
  top:11px;
  width:236px;
  word-wrap:break-word;
}
#u26943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u26943 {
  position:absolute;
  left:818px;
  top:795px;
  width:59px;
  height:18px;
  color:#999999;
  text-align:right;
}
#u26944 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u26945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u26945 {
  position:absolute;
  left:644px;
  top:667px;
  width:57px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u26946 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:92px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u26948 {
  position:absolute;
  left:637px;
  top:565px;
  width:253px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u26949 {
  position:absolute;
  left:15px;
  top:10px;
  width:236px;
  word-wrap:break-word;
}
#u26950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u26950 {
  position:absolute;
  left:861px;
  top:577px;
  width:16px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u26951 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u26952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u26952 {
  position:absolute;
  left:652px;
  top:605px;
  width:259px;
  height:40px;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u26953 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u26954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u26955 {
  position:absolute;
  left:633px;
  top:220px;
  width:265px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u26956 {
  position:absolute;
  left:2px;
  top:10px;
  width:261px;
  word-wrap:break-word;
}
#u26957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u26957 {
  position:absolute;
  left:633px;
  top:228px;
  width:51px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u26958 {
  position:absolute;
  left:2px;
  top:5px;
  width:47px;
  word-wrap:break-word;
}
#u26959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u26959 {
  position:absolute;
  left:839px;
  top:228px;
  width:51px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u26960 {
  position:absolute;
  left:2px;
  top:5px;
  width:47px;
  word-wrap:break-word;
}
#u26961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:600px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26961 {
  position:absolute;
  left:624px;
  top:220px;
  width:274px;
  height:600px;
}
#u26962 {
  position:absolute;
  left:2px;
  top:292px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26964_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:164px;
  height:144px;
}
#u26964 {
  position:absolute;
  left:690px;
  top:410px;
  width:154px;
  height:134px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u26965 {
  position:absolute;
  left:2px;
  top:54px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u26966 {
  position:absolute;
  left:690px;
  top:444px;
  width:152px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u26967 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u26968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u26968 {
  position:absolute;
  left:690px;
  top:478px;
  width:152px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u26969 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u26970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
}
#u26970 {
  position:absolute;
  left:739px;
  top:426px;
  width:61px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u26971 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u26972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u26972 {
  position:absolute;
  left:690px;
  top:511px;
  width:152px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u26973 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
