body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7140 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
}
#u7141 {
  position:absolute;
  left:2px;
  top:42px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u7142 {
  position:absolute;
  left:30px;
  top:36px;
  width:438px;
  height:33px;
  font-size:24px;
}
#u7143 {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  word-wrap:break-word;
}
#u7144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7144 {
  position:absolute;
  left:1110px;
  top:42px;
  width:65px;
  height:16px;
  color:#999999;
}
#u7145 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  visibility:hidden;
  white-space:nowrap;
}
#u7146 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 153, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7147 {
  position:absolute;
  left:0px;
  top:2000px;
  width:1200px;
  height:100px;
}
#u7148 {
  position:absolute;
  left:2px;
  top:42px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:14px;
}
#u7149 {
  position:absolute;
  left:911px;
  top:2029px;
  width:255px;
  height:14px;
  font-family:'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue';
  font-weight:100;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u7150 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u7151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:14px;
}
#u7151 {
  position:absolute;
  left:911px;
  top:2057px;
  width:255px;
  height:14px;
  font-family:'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue';
  font-weight:100;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u7152 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u7153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7153 {
  position:absolute;
  left:30px;
  top:2041px;
  width:163px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7154 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
